$COLOR_PRIMARY: #FBFE7A
$COLOR_WHITE: #FFF
$FONT_FAMILY_BASE: "Oswald", sans-serif

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent


body
  line-height: 1


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
  display: block


nav ul
  list-style: none


blockquote,
q
  quotes: none


blockquote:before,
blockquote:after,
q:before,
q:after
  content: ""
  content: none


a
  margin: 0
  padding: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent


/* change colours to suit your needs */
ins
  background-color: #ff9
  color: #000
  text-decoration: none


/* change colours to suit your needs */
mark
  background-color: #ff9
  color: #000
  font-style: italic
  font-weight: bold


del
  text-decoration: line-through


abbr[title],
dfn[title]
  border-bottom: 1px dotted
  cursor: help


table
  border-collapse: collapse
  border-spacing: 0


/* change border colour to suit your needs */
hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #cccccc
  margin: 1em 0
  padding: 0


input,
select
  vertical-align: middle

html,
body,
#__nuxt,
#__layout,
#root
  height: 100%

body
  background-color: #000
  color: #fff
  font-size: 15px
  letter-spacing: 0.05em
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", sans-serif


.wrap
  max-width: 400px
  padding: 30px 20px
  margin: 0 auto


.bm-number
  font-family: "Oswald", sans-serif
  font-size: 110%
  position: relative
  bottom: -1px
  letter-spacing: 0.1em


.bm-brewing-coffee-setup
  height: 100%
  display: flex
  flex-direction: column
  & > .body
    display: flex
    align-items: center
    margin: 0 auto
    flex: 1
    .title
      font-size: 40px
      font-family: "Oswald", sans-serif
      margin-bottom: 20px
      text-align: center
      line-height: 1.2
  & > .footer
    padding: 4px 20px 20px 20px
    text-align: center

.coffee-setup
  margin: 0 auto 15px auto

  & > .form
    margin-bottom: 20px
    .filed
      padding: 8px 0
      display: flex
      align-items: center
    label
      font-size: 18px
      color: rgba($COLOR_WHITE, 0.9)
      width: 75px
      margin: 0 8px -2px 0
    .unit
      font-size: 24px
      color: rgba($COLOR_WHITE, 0.7)
      position: relative
      left: -18px
      bottom: -7px

  & > .button
    box-sizing: border-box
    padding: 15px 18px
    width: 100%
    margin: 35px auto 0 auto
    font-size: 28px
    border: 2px solid #fff
    text-align: center
    font-family: "Oswald", sans-serif

.bm-form-control
  appearance: none
  background: transparent
  color: $COLOR_PRIMARY
  font-family: "Oswald", sans-serif
  border: 0
  outline: none
  padding: 6px
  font-size: 34px
  border-radius: 0
  border-bottom: 2px solid #fff

.bm-brewing-coffee-steps
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 500px
  margin: 0 auto
  & > .step
    flex: 1
    text-align: center
    font-size: 12px
    opacity: 0.6
    &.active
      opacity: 1
    .icon
      font-size: 20px
      margin-bottom: 8px
    .time
      margin-bottom: 5px
      font-family: $FONT_FAMILY_BASE
      font-weight: 400
    .weight
      font-size: 10px
      font-family: $FONT_FAMILY_BASE
      font-weight: 300

.coffee-information
  margin-top: 20px

.bm-brewing-coffee
  height: 100%
  display: flex
  flex-direction: column
  & > .header
    padding: 0 20px
    height: 70px
    display: flex
    align-items: center
    .title
      flex: 1
      .name
        font-size: 18px
        font-family: $FONT_FAMILY_BASE
    .options
      font-size: 12px
      margin-top: 7px
      font-family: $FONT_FAMILY_BASE
      display: flex
      align-items: center
      opacity: 0.8
      & > .option
        margin-right: 10px
    .action
      font-size: 24px
  & > .body
    flex: 1
  & > .footer
    padding: 30px 15px
    text-align: center

.bm-brewing-coffee-now
  margin: 0 auto
  max-width: 400px
  min-width: 280px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  & > .weight
    font-size: 92px
    margin-bottom: 20px
    font-family: $FONT_FAMILY_BASE
    font-weight: 300
    .unit
      font-size: 60px
  & > .text
    font-size: 20px
    opacity: 0.9
  & > .separate
    margin: 25px 0
    height: 2px
    background-color: rgba(#fff,0.3)
  & > .time
    font-size: 60px
    font-family: $FONT_FAMILY_BASE
    color: $COLOR_PRIMARY
    font-weight: 300
    .text
      font-weight: 200
      margin-right: 12px
      opacity: 0.9
  & > .action
    display: flex
    justify-content: center
    align-items: center
    margin-top: 20px
    .button
      width: 40px
      height: 40px
      font-size: 20px
      line-height: 40px
      border: 2px solid #fff
      border-radius: 44px

.bm-timer
  text-align: center
  margin-bottom: 20px
  display: inline-flex
  font-family: $FONT_FAMILY_BASE
  font-weight: 300

.od
  font-size: 18px
  margin-top: 4px


.footer .copyright img
  width: 180px


.footer .quote
  line-height: 1.5
  font-size: 12px
  color: #ccc
  margin-top: 11px


.footer .quote a
  color: #ccc
  text-decoration: underline
.material-design-icon
  display: inline-flex
  align-self: center
  position: relative
  height: 1em
  width: 1em

.material-design-icon > .material-design-icon__svg
  height: 1em
  width: 1em
  fill: currentColor
  position: absolute
  bottom: -0.125em
