/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.05em;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    sans-serif;
}

.wrap {
  max-width: 400px;
  padding: 30px 20px;
  margin: 0 auto;
}

.number {
  font-family: "Oswald", sans-serif;
  font-size: 110%;
  position: relative;
  bottom: -1px;
  letter-spacing: 0.1em;
}

.page-title {
  font-size: 27px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.coffee-setup {
  display: flex;
  align-items: flex-end;
  margin: 0 auto 25px auto;
  text-align: center;
  justify-content: center;
}

.coffee-setup > .title {
  padding-bottom: 9px;
  font-size: 15px;
  padding-right: 8px;
}

.coffee-setup > .form input {
  background: transparent;
  font-family: "Oswald", sans-serif;
  border: 0;
  border-bottom: 1px dashed #ccc;
  outline: none;
  padding: 4px 15px 0 4px;
  color: #fbff7a;
  font-size: 36px;
  width: 100px;
  text-align: center;
}

.coffee-setup > .unit {
  position: relative;
  left: -22px;
  padding-bottom: 12px;
  font-size: 18px;
}

.coffee-steps {
  border: 2px solid #fff;
}

.coffee-steps table {
  width: 100%;
}
.coffee-steps .active{
  color: #fbff7a;
}

.coffee-steps table.center th,
.coffee-steps table.center td {
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
}

.coffee-steps thead td,
.coffee-steps thead th {
  border-bottom: 2px solid #fff;
}

.coffee-steps th {
  padding: 10px 15px;
  text-align: left;
}

.coffee-steps td {
  padding: 4px 15px;
  text-align: left;
}

.coffee-steps .sep td {
  border-bottom: 1px solid #ccc;
}

.coffee-steps .large-text td {
  font-size: 18px;
}

.coffee-steps td.sep {
  border-right: 1px solid #ccc;
}

.coffee-steps .start td {
  padding-top: 15px;
}

.coffee-steps .end td {
  padding-bottom: 15px;
}

.coffee-information {
  margin-top: 20px;
}

.coffee-timer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background: #111;
  box-shadow: 0 0 7px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}
.coffee-timer .message{
  position: absolute;
  top: -12px;
  left: 20px;
  font-size: 12px;
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 4px;
  font-family: "Oswald", sans-serif;
}

.coffee-timer > .contents{
  flex: 1;
  padding-left: 20px;
}
.coffee-timer .action{
  padding-right: 20px
}
.coffee-timer .time{
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  display: inline-block;
}
.coffee-timer .time .number{
  display: inline-block;
  width: 18px;
  text-align: right;
}
.coffee-timer .time .unit{
  font-size: 20px
}
.coffee-timer .button{
  border: 2px solid #fff;
  font-family: "Oswald", sans-serif;
  padding: 8px 12px;
  display: inline-block;
  font-size: 12px
}
.coffee-timer .button.start{
  border: 2px solid #fbff7a;
  color: #fbff7a;
}
.od {
  font-size: 18px;
  margin-top: 4px;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.footer .copyright img {
  width: 180px;
}

.footer .quote {
  line-height: 1.5;
  font-size: 12px;
  color: #ccc;
  margin-top: 11px;
}

.footer .quote a {
  color: #ccc;
  text-decoration: underline;
}
